
@keyframes bottom-border-rgb {
  0%   { border-bottom: 2px solid #d7490c; }
  15%  { border-bottom: 2px solid #c7b919; }
  30%  { border-bottom: 2px solid #41ca1c; }
  45%  { border-bottom: 2px solid #22c7cd; }
  60%  { border-bottom: 2px solid #0C4CC5; }
  75%  { border-bottom: 2px solid #7814be; }
  80%  { border-bottom: 2px solid #d633d3; }
  100% { border-bottom: 2px solid #d7490c; }
} 

@keyframes border-sides-rgb {
  0%   { border-right: 4px solid #d7490c; border-left: 4px solid #d7490c; }
  15%  { border-right: 4px solid #c7b919; border-left: 4px solid #c7b919; }
  30%  { border-right: 4px solid #41ca1c; border-left: 4px solid #41ca1c; }
  45%  { border-right: 4px solid #22c7cd; border-left: 4px solid #22c7cd; }
  60%  { border-right: 4px solid #0C4CC5; border-left: 4px solid #0C4CC5; }
  75%  { border-right: 4px solid #7814be; border-left: 4px solid #7814be; }
  80%  { border-right: 4px solid #d633d3; border-left: 4px solid #d633d3; }
  100% { border-right: 4px solid #d7490c; border-left: 4px solid #d7490c; }
}

@keyframes border-rgb {
  0%   { border: 1px solid #d7490c; }
  15%  { border: 1px solid #c7b919; }
  30%  { border: 1px solid #41ca1c; }
  45%  { border: 1px solid #22c7cd; }
  60%  { border: 1px solid #0C4CC5; }
  75%  { border: 1px solid #7814be; }
  80%  { border: 1px solid #d633d3; }
  100% { border: 1px solid #d7490c; }
}

@keyframes border-rgb-2 {
  0%   { border: 2px solid #d7490c; }
  15%  { border: 2px solid #c7b919; }
  30%  { border: 2px solid #41ca1c; }
  45%  { border: 2px solid #22c7cd; }
  60%  { border: 2px solid #0C4CC5; }
  75%  { border: 2px solid #7814be; }
  80%  { border: 2px solid #d633d3; }
  100% { border: 2px solid #d7490c; }
}

@keyframes bg-rgb {
  0%   { background: #d7490c; }
  15%  { background: #c7b919; }
  30%  { background: #41ca1c; }
  45%  { background: #22c7cd; }
  60%  { background: #0C4CC5; }
  75%  { background: #7814be; }
  80%  { background: #d633d3; }
  100% { background: #d7490c; }
}
body {
  margin: 0%;
  padding: 0%;
  background: #000000;
  height: 100%;
}
.container {
  margin: 0%;
  padding: 0%;
  background: #2c2c2c;
  height: 100%;
  animation: border-sides-rgb 9s infinite;
}

.MuiButtonBase-root {
  padding: 2px;
  border-radius: 5px;
}